<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<!-- Database Connect -->
	<connectionStrings>
		<!--<add name="connectionString" connectionString="Server=localhost;userid=root;password=;Database=wpf_test" providerName="MySql.Data.MySqlClient"/>-->
		<add name="connectionString" connectionString="Server=172.17.0.2;userid=webAdmin;password=admin;Database=pruebas" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>