<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Database Connect -->
	<connectionStrings>
		<add name="connectionString" connectionString="Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=D:\\Github\\Sandbox\\merge_list\\merge_list\\bin\\Debug\\netcoreapp3.1\\data\\DbGuns.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>